<footer>
  <div>
    <a href="/">Low Gravitas</a>
    &nbsp;·&nbsp;
    <a href="https://github.com/low-gravitas">GitHub</a>
    &nbsp;·&nbsp;
    <a href="/blog/feed.xml">RSS</a>
    &nbsp;·&nbsp;
    <span>&copy; 2026 Mike Abney</span>
  </div>
</footer>
